
/* GLOBAL STYLING PAGE, MAYBE THERE IS A THEME GOING ON HERE  */


.button_standard{
    height: 50px;
    width: 90px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto 0 auto 20px;
}

.button_standard:hover{
    scale: 1.06;
}