/* -------------------------------------NAVBAR--------------------------------------- */
.nav_wrapper {
    position: relative;
    border-bottom: 1px solid whitesmoke;
    background-color: var(--contrast-dark) ;
}

.nav_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.nav_large {
    height: 4rem;
}
.nav_small {
    height: 2rem;
}

.navbar_item {
    padding: .5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.navbar_item:hover {
    scale: 1.2;
}

.io_nav_heading{
    position: absolute;
    font-size: 1rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    font-size: 1.2rem;

}


/* -------------------------------------Content--------------------------------------- */

.global_body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.content{
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--background-color);
    color: gray;
}




/* -------------------------------------FOOTER--------------------------------------- */
.footer{
    display: block;
    background-color: var(--contrast-dark) ;
    width: 100%;
    height: 1.2rem;
    bottom: 0;
    font-size: .5rem;
    border-top: 1px solid grey;
    text-align: center;
    z-index: 10;
}

