

/* ----------------------------------NAVBAR------------------------------------------------- */

.nav{
    position: sticky;
    top: 0;
    left: 0;
    height: var(--navHeight);
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

.navUser{
    position: absolute;
    top: 10px;
    left: 10px;
}

.navMain{
    position: fixed;
    top: 0;
    left: 0;
    font-size: 10px;
    height: 80px;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}
.navMain h2{
    font-size: 20px;
    padding-bottom: 10px;
}

.navLinkColumn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navLink{
    display: flex-end;
    bottom: 0;
    height: auto;
    font-size: 20px;
    padding: 5px;
}
.navLink:hover{
    font-size: 22px;
    color: #d1f1ff;
}


/* -------------------------------------PROJECT SPACE--------------------------------------- */


/* WARNING: Flex property was placed here to allow sub projects to fill the full width */
.global_body{
    height: 100%;
    display: flex;
    flex-direction: column;
}


.content{
    background-color: red;
    display: fill;
    flex-grow: 1;
}

.projectColumn{
    z-index: 5;
    background-color: grey;
    width: 50vw;
    border-radius: 30px;
    background-color: grey;
    margin: 40px auto;
    padding: 14px;
    height: auto;
    max-height: 100px;
    transition: max-height 2s;
    overflow: hidden;
}
.projectColumnActive{
    z-index: 5;
    max-height: 200px;
    transition: max-height 2s;
}


.projectColumn h2{
    font-size: 22px;
    padding: 5px;
    margin-left: 10px;
}
.projectColumn h2:hover{
    text-decoration: underline;
    cursor:pointer;
}

.projectColumn h3{
    padding: 5px;
    font-size: 18px;
    margin-left: 12px;
    font-weight: 10;
}

.description{
    display: none;
    padding: 15px;
}
.Active {
    display: block;
}
